@charset "utf-8";
/*Css Document*/
#contenedor{
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 960px;
    background-color: #8a8a8a;
    alignment: center;
    align-content: center;
    height: 1000px;
}
#banner{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    width: 880px;
    height: 200px;
    background-color: #5c56ff;
}
#navegacion{
    margin: auto;
    margin-bottom: 10px;
    width: 880px;
    height: 50px;
    background-color: #66CCFF;
}
#menu{
    margin: auto;
    margin-left: 40px;
    margin-bottom: 20px;
    width: 220px;
    height: 500px;
    background-color: #CC9933;
    float: left;
}
#migajas{
    background-color: #FF6600;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 640px;
    height: 30px;
    float: left;
}
#contenido{
    background-color: #B2BABB;
    margin-left: 20px;
    margin-right: 20px;
    width: 640px;
    height: 450px;
    float: left;
}
#pie {
    background-color: #FF6600;
    float: right;
    margin-top: 10px;
    margin-right: 40px;
    margin-left: 40px;
    width: 880px;
    height: 100px;
}